
<nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">   
        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index1">
            <img src="https://image.flaticon.com/icons/png/512/1964/1964625.png" width="70" height="70">
            Locadora Blue
        </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado" aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="conteudoNavbarSuportado"
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                   Nevegue entre as opções
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="Index">Lista de Filmes</a>
                    <a class="dropdown-item" asp-area="" asp-controller="Locacao" asp-action="Index">Aluguel de Filmes</a>
                    <a class="dropdown-item" asp-area="" asp-controller="Locacao" asp-action="Index1">Sorte do Dia</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" asp-area="" asp-controller="Funcionarios" asp-action="Index">Funcionários</a>
                </div>
            </li>
            
    </div>
    <partial name="_LoginPartial" />
</nav>