@model Filme
@{
    ViewData["Title"] = "Atualização de Filme";
}
<div class="text-center text-light">
    <h4>
        Atualizando Filme @Model.nome
    </h4>
    <hr />
    <div class="row text-light">
        <div class="col-md-4">
            <form asp-action="Atualizar">
                <div class="form-group">
                    <label asp-for="nome" class="control-label"></label>
                    <input asp-for="nome" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="sinopse" class="control-label"></label>
                    <input asp-for="sinopse" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="preco" class="control-label"></label>
                    <input asp-for="preco" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="lancamento" class="control-label"></label>
                    <input asp-for="lancamento" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="duracao" class="control-label"></label>
                    <input asp-for="duracao" class="form-control" />
                </div>
                <div class="form-group">
                    <input type="submit" value="Atualizar" class="btn btn-success" />
                    <a asp-action="Index">Voltar</a>
                </div>

            </form>
        </div>
    </div>
    </div>
