@model LocadoraDeFilmesPF.Models.Funcionario

@{
    ViewData["Title"] = "Create";
}
<div class="text-letf text-light">
    <h1 text-ligth>Cadastrar</h1>

    <h4 text-ligth>Funcionario</h4>
    <hr />
    <div class="row">
        <div class="col-md-4 text-ligth">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="nome" class="control-label"></label>
                    <input asp-for="nome" class="form-control" />
                    <span asp-validation-for="nome" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="salario" class="control-label"></label>
                    <input asp-for="salario" class="form-control" />
                    <span asp-validation-for="salario" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="admissao" class="control-label"></label>
                    <input asp-for="admissao" class="form-control" />
                    <span asp-validation-for="admissao" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="nascimento" class="control-label"></label>
                    <input asp-for="nascimento" class="form-control" />
                    <span asp-validation-for="nascimento" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Voltar para lista</a>
    </div>
    </div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
